<%- include('partials/header') -%>
<h1>Home</h1>
<p><%= content1 %></p>

<% posting.forEach(function(letter){ %>
<h1><%= letter.title %></h1>
<p class="shrink"><%= letter.content.substring(0, 100) + "..." %><a href="/posts/<%= letter.title %>">Read More</a></p>

<% }); %>



<%- include('partials/footer') -%>
